body{
    padding: 0;
    margin: 0;
    background-color: skyblue;
}
.gameboard{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 300px;
   height: 300px;
}

.row{
    height: 32%;
}

.col{
    height: 100%;
    width: 32%;
    border: 2px solid black;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color: black;

}

.Reset_button{
    position: absolute;
    margin-top: 20px;
    left:0%;
    font-size: 30px;
    width: 300px;
    color: white;
    background-color: black;
    border: black;
}

.disable {
    pointer-events: none;
}
h1{
  position: absolute;
  left: 41%;
  font-size: 60px;
  margin-top: 70px;
 
}

.x{
   position: absolute;
    width: 400px;
    top: 38%;
    font-size: 60px;
    left: 8%;
}

.o{
    position: absolute;
    width: 400px;
    top: 38%;
    font-size: 60px;
    left: 8%;
}

.oo{
    display: none;
}

.xx{
    display: none;
}
